@page
@model IELTSPayments.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="container">
    <div class="row justify-content-md-center align-items-center">
        <div class="col-md-6">
            <div class="container alert alert-danger ErrorMessage">
                <div class="row">
                    <div class="col-md-4 text-center align-self-center">
                        <h1>
                            <i class="fas fa-exclamation-triangle"></i>
                        </h1>
                    </div>
                    <div class="col-md-8">
                        <h2 class="alert-heading">Access Denied!</h2>
                        <hr />
                        <p>
                            Sorry but you do not have access to this system.
                        </p>
                        <p>
                            You must be a member of the <kbd>IELTS Payments</kbd> Active Directory Group.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>